# LLM_API_KEY=sk-your-key-here
# DEEPSEEK_API_KEY=sk-your-key-here
# LLM_BASE_URL=https://api.deepseek.com/v1
# LLM_MODEL=deepseek-chat
DB_PATH=./yelp.db
API_PORT=8000
HDFS_NAMENODE_URL=http://localhost:9870
HDFS_USER=hanif
HDFS_BASE_PATH=/user/hanif/yelp
HDFS_CLI_ENABLED=true
